<div class='container'>
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>

  <h3>A bit more about this flat ...</h3>
  <p><%= @flat.description %></p>

  <h3>Details</h3>
  <div class="description d-flex">
    <div class="n-guests">
      <i class="fas fa-user-friends"></i>
      <%= @flat.number_of_guests %>
    </div>
    <div class="price ml-4">
      <i class="fas fa-euro-sign"></i>
      <%= @flat.price_per_night %>
    </div>
  </div>
</div>
